@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
}

* {
  box-sizing: border-box;
}

.text-primary {
  @apply text-blue-400;
}

.text-secondary {
  @apply text-blue-900;
}

/* Animations */
@keyframes slide-from-opacity {
  0% {
    transform: translateY(33.33%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.animate-slide-from-opacity {
  animation : slide-from-opacity 1s ease-in-out
}

.animate-slide-from-opacity-2 {
  animation : slide-from-opacity 1.5s ease-in-out
}

.animate-slide-from-opacity-3 {
  animation : slide-from-opacity 2s ease-in-out;
}

/* NavbarArea CSS*/
.is-sticky {
  @apply fixed transition duration-500 top-0 left-0 w-full py-4 z-20;
}
.is-sticky.sticky-style-1 {
  @apply transition duration-200 bg-neutral-100 text-black;
}

.offcanvas-menu-wrap {
  @apply before:absolute before:w-0 before:h-full before:top-0 before:right-0 before:bg-black before:z-10 before:opacity-90 before:ease-linear before:duration-[500ms] delay-[300ms];
}
.offcanvas-menu-wrap.active {
  @apply before:w-full before:visible before:opacity-90;
}
.offcanvas-menu-wrap .offcanvas-menu {
  @apply opacity-90 bg-white fixed top-0 right-[-300px] w-[300px] h-full ease-in-out duration-[450ms] delay-[350ms] p-5 z-20;
}
.offcanvas-menu-wrap.active .offcanvas-menu {
  @apply right-0 opacity-100;
}
.offcanvas-text {
  @apply pt-[15px] pb-[15px] border-t last:border-b text-[15px] leading-6 uppercase font-semibold;
}
